<!-- footers 20 -->
<section class="w3l-footers-20">
    <div class="footers20">
        <div class="container">
            <div class="footers20-content">
                <div class="d-grid grid-col-4 grids-content">
                    <div class="column">
                        <a href="#url" class="link"><span class="fa fa-comments"></span></a>
                        <a href="#url" class="title-small">Tư vấn miễn phí</a>
                        <h4>Lên lịch một buổi tư vấn miễn phí với chuyên gia của chúng tôi</h4>
                        <a href="#buytheme" class="btn btn-style btn-primary">
                            Lên lịch ngay
                            <span class="fa fa-long-arrow-right ml-2"></span>
                        </a>
                    </div>
                    <div class="column">
                        <a href="#url" class="link"><span class="fa fa-phone"></span></a>
                        <a href="#url" class="title-small">Hỗ trợ</a>
                        <h4>Bạn có câu hỏi hay muốn thêm thông tin? Gọi ngay</h4>
                        <a href="tel:+1-2345-678-11">
                            <p class="contact-phone mt-2">
                                <span class="lnr lnr-phone-handset"></span> +1-2345-678-11
                            </p>
                        </a>
                    </div>
                    <div class="column mt-lg-0 mt-md-5">
                        <h4 class="mb-1">Đăng nhập để nhận thêm thông tin</h4>
                        <p>Tin mới nhất</p>
                        <form action="#" class="subscribe-form mt-4" method="post">
                            <div class="form-group">
                                <input type="email" name="subscribe" placeholder="Nhập email" required="">
                                <button class="btn btn-style btn-primary">Đăng ký</button>
                            </div>
                        </form>
                        <ul class="footers-17_social">
                            <h4 class="d-inline mr-4">Theo dõi chúng tôi</h4>
                            <li><a href="#url" class="twitter"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#url" class="facebook"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#url" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#url" class="instagram"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-grid grid-col-3 grids-content1 bottom-border">
                    <div class="columns copyright-grid align-self">
                        <p class="copy-footer-29">© 2020 AndromedaHome. All rights reserved | Designed by GalaxyTek</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
    </button>

    <!-- /move top -->
</section>

<!-- jQuery and Bootstrap JS -->
<!--<script src="~/Scripts/jquery-3.3.1.min.js"></script>-->
<script src="~/Scripts/theme-change.js"></script><!-- theme switch js (light and dark)-->
<script src="~/Scripts/jquery.waypoints.min.js"></script>
<script src="~/Scripts/jquery.countup.js"></script>
<script src="~/Scripts/owl.carousel.js"></script>

<script src="~/Scripts/jquery.magnific-popup.min.js"></script>
<script src="~/Scripts/script.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cookieconsent.popupsmart.com/src/js/popper.js"></script>
<script>window.start.init({ Palette: "palette1", Mode: "banner bottom", })</script>

        </body>

        </html>
