
@{
    ViewBag.Title = "About";
}
@Html.Partial("Menubar")
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="Index">Trang chủ</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span>Trang</li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Về chúng tôi</li>
        </ul>
    </div>
</section>
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-5 pr-lg-0">
                    <div class="w3l-left-img2">
                    </div>
                </div>
                <div class="col-lg-7 pl-lg-0">
                    <div class="w3l-right-info">
                        <h6 class="title-small">Về chúng tôi</h6>
                        <h3 class="title-big">Bề dày kinh nghiệm</h3>
                        <h5 class="mt-4">
                            Có 15 năm kinh nghiệm và có hơn 5500 nhân viên và 8 văn phòng trên toàn thế giới
                        </h5>
                        <p class="mt-4">
                            Chiến lược kinh doanh của chúng tôi được xây dựng dựa trên niềm tin và sự nhất quán.
                            Đó là những điểm nhấn quan trọng trong sứ mệnh của chúng tôi, đặc biệt tạo niềm tin cho khách hàng, đồng nghiệp,
                            nhà cung cấp, các bên đối tác và các nhà đầu tư. Chúng tôi cung cấp các dịch vụ tư vấn riêng biệt, phù hợp với từng cá nhân khách hàng,
                            từ đó xây dựng mối quan hệ lâu dài và hỗ trợ khách hàng đưa ra những quyết định đúng đắn hơn về tài sản.
                        </p>
                        <a href="#small-dialog1" class="popup-with-zoom-anim play-view d-block mt-md-5 mt-4">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                            Xem câu chuyên về chúng tôi
                        </a>
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/jqP3m3ElcxA" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div><div class="grids-area-hny main-cont-wthree-fea row mt-5 pt-lg-5 pt-5">
                <div class="col-lg-4 col-md-6 grids-feature">
                    <div class="area-box">
                        <span class="fa fa-home"></span>
                        <h4><a href="#feature" class="title-head">Hướng dẫn những thứ bạn cần</a></h4>
                        <p>Luôn lắng nghe và đưa ra những ý kiến được khách hàng luôn có lợi</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-search-plus"></span>
                        <h4><a href="#feature" class="title-head">Tìm những thứ thân thuộc</a></h4>
                        <p>Tìm nhựng thứ mà khách hàng thích và thân thuộc</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                    <div class="area-box">
                        <span class="fa fa-dollar"></span>
                        <h4><a href="#feature" class="title-head">Giá trị đỉnh cao</a></h4>
                        <p>Giá trị của khách hàng luôn được ưu tiên</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="w3l-aboutblock2" id="why">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <div class="row">
                    <div class="col-lg-6 left-wthree-img">
                        <img src="assets/images/about.jpg" alt="" class="img-fluid radius-image" />
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 align-self">
                        <h6 class="title-small">Tại sao</h6>
                        <h3 class="title-big">Để giúp các thành viên có thêm lợi ích và thành công hơn</h3>
                        <p class="mt-4">
                            Dù bạn đang tìm kiếm một ngôi nhà cho gia đình hay muốn tìm cơ hội đầu tư trong lĩnh vực bất động sản,
                            với bề dày kinh nghiệm hơn 15 năm,
                            chúng tôi luôn sẵn sàng tư vấn và cung cấp các dịch vụ phù hợp nhất.
                        </p>
                        <ul class="w3l-right-book mt-lg-5 mt-4">
                            <li><span class="fa fa-check" aria-hidden="true"></span>Giúp người bán nhận được các bất động sản</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Giúp người bán ra giá bất động sản công bằng</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Giúp người mua tìm được bất động sản phù hợp</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Trả giá dự trên thỏa thuận người mua và người bán</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="w3l-agentsblock py-5" id="team">
        <div class="container py-lg-5 py-md-4 py-2">
            <h6 class="title-small text-center">Đội ngũ của chúng tôi</h6>
            <h3 class="title-big text-center mb-lg-5 mb-4">Gặp các chuyên viên</h3>
            <!-- block -->
            <div class="row">
                <div class="col-lg-3 col-sm-6 column-item">
                    <div class="users_box">
                        <div class="user-avatar">
                            <a href="#agent-single" class="avatar">
                                <img src="assets/images/team1.jpg" alt="" class="img-fluid w-100 radius-image">
                            </a>
                        </div>
                        <div class="users_box_info">
                            <p class="user_position">Tư vấn viên pháp lý</p>
                            <h4 class="user_title agent">
                                <a href="#agent-single">Lữ Minh Chương</a>
                            </h4>
                            <div class="user_meta user_phone">
                                <span class="phone-detail"> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></span>
                            </div>
                            <a href="#agent-single" class="btn btn-outline-primary btn-style mt-4">
                                Xem thông tin
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 column-item mt-sm-0 mt-5">
                    <div class="users_box">
                        <div class="user-avatar">
                            <a href="#agent-single" class="avatar">
                                <img src="assets/images/team2.jpg" alt="" class="img-fluid w-100 radius-image">
                            </a>
                        </div>
                        <div class="users_box_info">
                            <p class="user_position">Chuyên viên nghiên cứu tài chính </p>
                            <h4 class="user_title agent">
                                <a href="#agent-single">Nguyễn Tấn Tài</a>
                            </h4>
                            <div class="user_meta user_phone">
                                <span class="phone-detail"> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></span>
                            </div>

                            <a href="#agent-single" class="btn btn-outline-primary btn-style mt-4">
                                Xem thông tin
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 column-item mt-lg-0 mt-5">
                    <div class="users_box">
                        <div class="user-avatar">
                            <a href="#agent-single" class="avatar">
                                <img src="assets/images/team3.jpg" alt="" class="img-fluid w-100 radius-image">
                            </a>
                        </div>
                        <div class="users_box_info">
                            <p class="user_position">Chuyên viên nghiên cứu thị trường</p>
                            <h4 class="user_title agent">
                                <a href="#agent-single">Nguyễn Hồng</a>
                            </h4>
                            <div class="user_meta user_phone">
                                <span class="phone-detail"> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></span>
                            </div>
                            <a href="#agent-single" class="btn btn-outline-primary btn-style mt-4">
                                Xem thông tin
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 column-item mt-lg-0 mt-5">
                    <div class="users_box">
                        <div class="user-avatar">
                            <a href="#agent-single" class="avatar">
                                <img src="assets/images/team4.jpg" alt="" class="img-fluid w-100 radius-image">
                            </a>
                        </div>
                        <div class="users_box_info">
                            <p class="user_position">Chuyên viên mua bán</p>
                            <h4 class="user_title agent">
                                <a href="#agent-single">Nguyễn Ngọc</a>
                            </h4>
                            <div class="user_meta user_phone">
                                <span class="phone-detail"> <a href="tel:+1-2345-678-11">+1-2345-678-11</a></span>
                            </div>

                            <a href="#agent-single" class="btn btn-outline-primary btn-style mt-4">
                                Xem thông tin
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- stats -->
    <section class="w3l-stats py-5" id="stats">
        <div class="gallery-inner container py-lg-5 py-md-4 py-2">
            <div class="row stats-con">
                <div class="col-md-3 col-6 stats_info counter_grid">
                    <p class="counter">5012</p>
                    <span class="plus">+</span><br>
                    <h3>Nhà bán</h3>
                </div>
                <div class="col-md-3 col-6 stats_info counter_grid1">
                    <p class="counter">256</p>
                    <span class="plus">+</span><br>
                    <h3>Nhà cho thuê</h3>
                </div>
                <div class="col-md-3 col-6 stats_info counter_grid mt-md-0 mt-4">
                    <p class="counter">1300</p>
                    <span class="plus">+</span><br>
                    <h3>Đã được bán gần đây</h3>
                </div>
                <div class="col-md-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                    <p class="counter">145 </p>
                    <span class="plus">k</span><br>
                    <h3>Khách hàng hài lòng</h3>
                </div>
                <div class="col-md-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                    <p class="counter">1,5 </p>
                    <span class="plus">k</span><br>
                    <h3>Dự án trên toàn quốc</h3>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("Footer")
